/* index.html */

body {
    margin: 0px;
}

.header {
    display: flex;
    background-color: #FFFFEE;
}

.heading a {
    text-decoration: none;
    color: black;
}

.header h1 {
    padding: 0px;
    font-family: "Cinzel", serif;
}

.container img {
    width: 410px;
    height: 500px;
    margin-bottom: 0px;
    /* position:absolute; */
    /* z-index:-1; */
}

.container h1 {
    /* padding:250px 0 0 10px; */
    color: #FFFFEE;
    font-size: 40px;
    line-height: 45px;
    font-family: "Sawarabi Mincho", serif;
}

.any {
    font-family: "Playwrite IS", cursive;

}

.container {
    position: relative;
    margin: 0px;
    padding-bottom: 0px;
    /* background-color: #4b5320; */
}

.absolute {
    position: absolute;
    top: 200px;
    left: 20px;
}

button {
    padding: 15px;
    font-size: 15px;
    /* margin:10px; */
    border: 0px solid black;
    background-color: #FFFFEE;

    a {
        color: black;
        text-decoration: none;
    }
}

/* button:hover{
    background-color: #4b5320;
    color: #FFFFEE;
} */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    padding: 0px;
    color: black;
    font-size: 18px;
}

.menu li {
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
}

.menu ul {
    padding: 0px;
}

.aside {
    background-color: #FFFFEE;
    color: #4b5320;
    font-family: "Playwrite IS", cursive;

}

.asideimg {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    img {
        width: 150px;
    }
}

.asideinfo {
    width: 90%;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: #4b5320;
    margin: 0px;
    padding: 10px;
    color: white;
}

footer li {
    list-style: none;
    padding: 2px;

    a {
        color: white;
    }
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;

}

footer p a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 700px) {
    .container img {
        width: 100%;
        height: 90vh;
    }

    .container h1 {
        line-height: 60px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu li {
        padding: 0px 20px;
    }

    .heading {
        width: 50%;
        padding-left: 20px;
    }

    .absolute {
        top: 300px;

        h1 {
            font-size: 60px;
        }
    }

    .aside {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .asideimg {
        width: 25%;
        display: flex;

        img {
            width: 200px;
        }
    }

    .asideinfo {
        font-size: 25px;
        width: 60%;
    }

    footer {
        text-align: center;
    }
}

/* shop.html */

.flowershop img {
    width: 90%;
    height: 35vh;

}

.flower a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower p {
    line-height: 0px;
    font-size: 18px;
    font-family: "Ubuntu Sans", sans-serif;
}
@media only screen and (min-width: 700px) {
    .flowershop img {
        width: 92%;
        height: 40vh;
    }

    .flowershop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* ourstory.html */

.ourstory {
    margin: 15px;
    font-family: "Ubuntu Sans", sans-serif;
}

.ourstoryimg img {
    width: 100%;
}
.frame1 {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        width: 200px;
        /* float:left; */
    }
}

.frame2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    img {

        width: 200px;
        /* float: right; */
    }
}

.storyheading h1 {
    font-size: 40px;
    font-family: "Sawarabi Mincho", serif;
}
@media only screen and (min-width: 700px) {
    .ourstoryimg {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;

        img {
            width: 50%;
            height: 50vh;
        }
    }

    .storyheading {
        display: flex;
        justify-content: center;
        width: 70%;

        h1 {
            font-size: 45px;
        }
    }

    .storyinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .about1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    .about2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    .aboutdet {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .frame1 {
        width: 80%;
        display: flex;
        justify-content: flex-end;

        img {
            width: 300px;
            margin-left: 100px;
        }
    }
}

/* getintouch.html */
.getintouch {
    font-family: "Ubuntu Sans", sans-serif;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.info2 {
    padding-bottom: 10px;
}

span {
    font-weight: 50;
}

.name {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstname {
    display: flex;
    flex-direction: column;
}

.lastname {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
}

.phone {
    display: flex;
    flex-direction: column;
}

.service {
    display: flex;
    flex-direction: column;
}
input {
    width: 98%;
    height: 30px;
}

select {
    width: 100%;
    height: 30px;
}

#submit {
    background-color: black;
    color: #FFFFEE;
    padding: 10px 20px;
}
#submit:hover{
    color:#FFFFEE;
    background-color:#4b5320;
    transition: 0.5s;
}

#message {
    width: 100%;
}

label {
    padding-bottom: 5px;
}

#message {
    margin-top: 5px;
}

#service {
    font-size: 15px;
    font-family: "Ubuntu Sans", sans-serif;
}
@media only screen and (min-width: 700px) {
    .getintouch {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .information {
        width: 40%;
    }

    .form {
        width: 40%;
    }

    .name {
        width: 99%;
    }

    .firstname {
        width: 49%;
    }

    .lastname {
        width: 49%;
    }

    select {
        width: 99%;
        height: 40px;
    }

    #message {
        width: 98%;
    }
}

/* gallery.html */

.gridImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 20px; */
}

.gallery {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: 35vh;
    margin: 10px 0px;
}
@media only screen and (min-width: 700px) {
    .gridImg {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .gallery {
        width: 49%;
        display: flex;
        flex-direction: column;
    }

    .img1 {
        width: 100%;
        height: 650px;
        margin-top: 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .img2 {
        width: 100%;
        height: 400px;
        margin-top: 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/* bestseller.html */

.bestseller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin: 10px;
    padding: 15px;
    background-color: #4b5320;
    color: #FFFFEE;
    /* width:95%;  */

}

.bestseller img {
    width: 100%;
    height: 40vh;
}

.bestsellerinfo {
    display: flex;
    flex-direction: column;
    /* padding:0px 20px 0px 20px; */
    width: 90%;

    button {
        width: 35%;
        padding: 10px 10px;
        color: #FFFFEE;
        background-color: black;
        /* margin:0px 140px 10px 140px;  */
    }
    button:hover{
        color:#4b5320;
        background-color: #FFFFEE;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 700px) {
    .bestseller {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }

    .bestsellerimg {
        width: 49%;
    }

    .bestsellerinfo {
        width: 49%;
    }

    .bestseller img {
        width: 100%;
        height: 60vh;

    }

    .bestsellermain {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
    }

}